body{

	background-color: #E2D2D2;
}
header{
	height: 250px;
	border: 1px solid black;
}
/*----------------------------------------------------------------------------------------------
----------------------------------------------- slider ---------------------------------------
----------------------------------------------------------------------------------------------*/
#slider{
	height: 400px;
	border: 1px solid black;
}
/*----------------------------------------------------------------------------------------------
------------------------------------------------ plan ------------------------------------------
----------------------------------------------------------------------------------------------*/
#mapid{
	height: 400px;
	border: 1px solid black;
}
/*----------------------------------------------------------------------------------------------
------------------------------------------------ side ------------------------------------------
----------------------------------------------------------------------------------------------*/
#side{
	height: 400px;
	border: 1px solid black;
}
/*----------------------------------------------------------------------------------------------
---------------------------------------------- article -----------------------------------------
----------------------------------------------------------------------------------------------*/
#article{
	height: 400px;
	border: 1px solid black;
}
