
.titre{color:white; text-align: center; margin-left: 340px;}

body{
	background-color: #E2D2D2;
}
header{
	height: 250px;
	
}
/*----------------------------------------------------------------------------------------------
----------------------------------------------- slider ---------------------------------------
----------------------------------------------------------------------------------------------*/
#slider{
	height: 400px;
	
	display:inline-block;
	padding:0px;
}
/*----------------------------------------------------------------------------------------------
------------------------------------------------ plan ------------------------------------------
----------------------------------------------------------------------------------------------*/
#mapid{
	height: 400px;

}
/*----------------------------------------------------------------------------------------------
------------------------------------------------ side ------------------------------------------
----------------------------------------------------------------------------------------------*/
#side{
	height: 400px;
	
}
/*----------------------------------------------------------------------------------------------
---------------------------------------------- article -----------------------------------------
----------------------------------------------------------------------------------------------*/
#articles{
	margin-top: 30px;

}

.owner{
	height: 70px;
	font-size: 19px;
	padding:15px;
	padding:10px;
}
#own-name{
	color: black;
	font-size: 25px;
}

.img{
	width: auto;
	height: 250px;
	margin-left: 40px;
}
ul{
	text-decoration: none;
	list-style: none;
	display: block;
}

#desc, #photo{
	height: 300px;
	
}

.titre-desc{
	text-align: center;
}

.navbar-default{height:100px; width:100%!important; padding: 20px; color:white;background-color: #757575; text-align: center;}

.navbar-brand{color:white;text-align: center;}

.apero {height:382px;width:780px;}

.bouchon {width:380px;height:382px;}

.tumble {height:200px !important;
                width: auto !important;}

/**** Footer ****/
.Footer {
  /* Box model */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 16px;
  padding: 0 1rem;

  /* Typography */
  font-family: 'Montserrat';

  /* Visual */
  background-color: #757575;
  color: white;
}

.thumbnailSize {height: 430px;}

.container {margin-top: 20px;}

.sec1 {margin-bottom:15px;}
.sec2 {margin-bottom:18px;}
.clicker {border-style:solid;
border-color: #757575;border-radius: 10px; padding-bottom: 15px;}

#bou{margin-left:70px;margin-top:15px;}
#bou2{margin-top:15px;margin-left:5px}