body{
	background-color: #E2D2D2;
}
header{
	height: 250px;
	border: 1px solid black;
}
/*----------------------------------------------------------------------------------------------
----------------------------------------------- slider ---------------------------------------
----------------------------------------------------------------------------------------------*/
#slider{
	height: 400px;
	border: 1px solid black;
	display:inline-block;
	padding:0px;
}
/*----------------------------------------------------------------------------------------------
------------------------------------------------ plan ------------------------------------------
----------------------------------------------------------------------------------------------*/
#mapid{
	height: 400px;
	border: 1px solid black;
}
/*----------------------------------------------------------------------------------------------
------------------------------------------------ side ------------------------------------------
----------------------------------------------------------------------------------------------*/
#side{
	height: 400px;
	border: 1px solid black;
}
/*----------------------------------------------------------------------------------------------
---------------------------------------------- article -----------------------------------------
----------------------------------------------------------------------------------------------*/
#articles{
	margin-top: 30px;

}

.owner{
	height: 70px;
	font-size: 19px;
	padding:15px;
	padding-top: 10px;
}
#own-name{
	color: black;
	font-size: 25px;
}

.img{
	width: auto;
	height: 250px;
	margin-left: 40px;
}
ul{
	text-decoration: none;
	list-style: none;
	display: block;
}

#desc, #photo{
	height: 300px;
	border: 1px solid black;
}

.titre-desc{
	text-align: center;
}

.navbar-brand{height:50px;padding: 20px;}

.apero {height:400px;width:780px;}
.bouchon {width:380px;height:400px;}
